body {
    margin: 0;
    padding: 0;
    background-color: #22263E;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 960px;
    margin: 16px auto;
}

.puzzle-piece {
    margin: 8px;
    padding-right: 3px;
    color: #AF3136;
    background-color: #F3D488;
    width: 61px;
    height: 64px;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    line-height: 1.4em;
    border-radius: 8px;
    border: 1px solid #F68A57;
    border-bottom-width: 4px;
}

.puzzle-piece.unknown {
    opacity: 0.5;  
}

.puzzle-piece.space {
    opacity: 0;
}

.puzzle-board,
.puzzle-rack {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin: 32px auto;
}

.puzzle-rack {
    flex-wrap: wrap;
    max-width: 500px;
    margin-top: 128px;
}

.score {
    color: #F3D488;
    text-align: center;
}

.congratulations {
    text-align: center;
    margin: 128px auto;
    padding: 32px;
    max-width: 60%;
    color: #AF3136;
    background-color: #F3D488;
    border-radius: 8px;
    border: 1px solid #F68A57;
    border-bottom-width: 4px;
}

.congratulations button {
    padding: 16px;
    background-color: #AF3136;
    color: #F3D488;
    font-weight: bold;
    width: 60%;
    font-size: 1.2em;
}
